
/* background - #fcfafa - white  */
/* box outline - #79b791 - green  */
/* highlight - #445E93 - blue  */
/* font - #000009 - black  */
/* font 2 - #0d0a0b - gray  */
:root {
    --background-color: #fcfafa;
    --secondary-background: #d3d3d3;
    --highlight: #445E93;
    --green: #79b791;

  }
body {
    background-color: var(--background-color); /* cool white background */
    margin: 0;
    font-family: Arial, sans-serif;
}
.header {
    background-color: var(--background-color); /* header background matches body */
    color: black; /* changed text color for visibility */
    padding: 35px 20px;
    display: flex;
    justify-content: center; /* centers the logo horizontally */
    align-items: center;
}
.header img {
    width: 150px; /* Adjust the size of your image accordingly */
}
.login-button {
    background-color: var(--highlight);
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute; /* positions the login button to the right */
    right: 40px;
    top: auto;
}
.task-bar-container {
    padding: 0px 10px;
    background-color: var(--secondary-background); /* light grey background for task bar */
}
.task-bar {
    display: flex;
    justify-content: space-around;
}
.task-bar div {
    width: 100%;
    text-align: center;
    padding: 15px 50px 12px 50px;
    border-bottom: 3px solid var(--secondary-background);
}
.task-bar div:hover {
    border-bottom: 3px solid var(--highlight);

}
.grid-container {
    /* nothing yet */
    padding: 0px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    padding: 70px 100px;
}
.grid div {
    border-radius: 40px;
    background-color: var(--secondary-background); /* light grey background for squares */
    padding: 20px;
    text-align: center;
    aspect-ratio: 1 / 1; /* makes the grid items squares */
}
.grid div:hover {
    border-radius: 40px;
    background-color: var(--green); /* light grey background for squares */
    padding: 20px;
    text-align: center;
    aspect-ratio: 1 / 1; /* makes the grid items squares */
}
